@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style: none;
  --light-gray: rgb(123, 123, 123);
  --light-blue: #8dbafff0;
  --translucent-white: rgba(255, 255, 255, 0.7);

  --normal-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  --blur-filter: blur(8px);
}

title {
  background: pink;
  font-weight: 1000;
  text-align: center;
  width: 100vw;
}

html,
body {
  overflow: hidden;
}
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.ifc-property-menu {
  border: 1px solid gray;
  width: 20rem;
  position: absolute;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--translucent-white);
  box-shadow: var(--normal-shadow);
  backdrop-filter: var(--blur-filter);
  top: 10%;
  /* left: 11%;
  transform: translate(-50%, -50%); */
}

.ifc-property-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem;
  border-bottom: solid 1px gray;
}

.ifc-property-value {
  width: 100%;
  text-align: right;
}

#viewer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  outline: none;
  width: 70%;
  height: 70%;
  border: black solid 3px;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#file-input {
  z-index: 4;
  position: absolute;
  margin: 1rem;
  /* margin-left: 50%; */
  padding: 1rem;
  border-radius: 1rem;
  background: var(--translucent-white);
  box-shadow: var(--normal-shadow);
  backdrop-filter: var(--blur-filter);
  text-align: center;
  align-items: center;
  width: auto;
  /* transform: translate(-50%, 0); */
}

/* #file-input:hover {
  z-index: 1;
  position: absolute;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--translucent-white);
  box-shadow: var(--normal-shadow);
  backdrop-filter: var(--blur-filter);
  text-align: center;
} */

.simple-card-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
}

/* From uiverse.io by @adamgiebl */
.simple-card {
  margin: 1rem;
  z-index: 1;
  width: 200px;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--translucent-white);
  box-shadow: var(--normal-shadow);
  backdrop-filter: var(--blur-filter);
  text-align: center;
}

/* suscription inspired From uiverse.io by @sssynk */
a {
  text-decoration: none;
}

button:hover {
  letter-spacing: 2px;
}

button:hover + a,
a:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.souscription {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  /* margin-bottom: 20px; */
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
  z-index: 3;
}

.activator {
  position: absolute;
  z-index: 2;
  margin: 15px;
}

.activator button {
  margin-top: 1em;
  padding: 0.5em 0.8em 0.5em 0.8em;
  border-style: none;
  border-radius: 1000000px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #fe4fe1 0%, #3f00fe 100%);
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color: rgb(239, 239, 239);
  font-weight: bold;
  text-transform: uppercase;
}

.activator button:hover {
  box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
  transition: box-shadow 0.15s ease-in-out;
}

.card-all {
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  z-index: 1;
  scale: 80%;
}

.card_sus {
  width: 190px;
  height: auto;
  background: rgb(45, 45, 45);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  margin-top: 15px;
  border: solid 2px pink;
  border-radius: 15px;
  margin-bottom: 15px;
  z-index: 1;
}

.title {
  text-align: center;
  margin-top: 0.5em;
  font-weight: bold;
  font-size: x-large;
  color: rgb(200, 200, 200);
}

.pricecontainer {
  width: 100%;
  margin-top: 0.7em;
  background-color: rgb(30, 30, 30);
  box-shadow: inset 0px 0px 2em rgba(0, 0, 0, 0.3);
}

.price {
  text-align: center;
  color: rgb(180, 180, 180);
  font-size: x-large;
  font-weight: bold;
  padding: 0.75em 0 0 0;
}

.pricedescriptor {
  text-align: center;
  color: rgb(118, 118, 118);
  font-size: medium;
  padding: 0 0 1em 0;
}

.includes {
  text-align: center;
  color: rgb(110, 110, 110);
  margin-top: 0.6em;
  font-size: small;
  font-weight: bold;
}

.benefitlist li {
  color: rgb(150, 150, 150);
  font-size: small;
  text-align: center;
}

.benefitlist li:nth-child(1) {
  margin-top: 0.4em;
}

.btncontainer {
  text-align: center;
  margin-bottom: 15px;
}

.btncontainer button {
  margin-top: 1em;
  padding: 0.5em 0.8em 0.5em 0.8em;
  border-style: none;
  border-radius: 1000000px;
  font-weight: bold;
  background-image: linear-gradient(45deg, #fe4fe1 0%, #3f00fe 100%);
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
.btncontainer button a {
  color: rgb(239, 239, 239);
  font-weight: bold;
}

.btncontainer button:hover {
  box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
  transition: box-shadow 0.15s ease-in-out;
}
/* ************** RESPONSIVE *************** */

/* Tablette */
@media (max-width: 900px) {
  * {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;
    align-items: center;
    /* width: 100%; */
  }

  .card-all {
    display: flex;
    position: absolute;
    flex-direction: column;
    position: absolute;
    scale: 55%;
    /* flex-wrap: nowrap; */
    margin-top: auto;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100vh;
    width: 100vw;
  }

  .simple-card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* display: block; */
    margin: auto;
    /* z-index: 2; */
  }

  .simple-card {
    margin-top: 50px;
    scale: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  #file-input {
    /* position: relative; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .souscription {
    width: 100vw;
    /* text-align: center;
    justify-content: flex-end;
    align-content: flex-end; */
  }
  .ifc-property-menu {
    scale: 90%;
    margin-left: auto;
  }

  #viewer-container {
    scale: 90%;
  }
}

/* Mobile */
@media (max-width: 570px) {
  * {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: block;
    align-items: center;
    /* margin: auto; */
    /* width: 100%; */
  }
  .souscription {
    width: 100vw;
    text-align: center;
    justify-content: center;
  }

  .card-all {
    display: flex;
    flex-direction: column;
    position: absolute;
    scale: 70%;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
    text-align: end;
    justify-content: flex-end;
  }
  .card-all * {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .simple-card {
    margin-top: 120px;
    scale: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  #file-input {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .activator {
    margin: 0px;
  }
  .ifc-property-menu {
    margin-left: auto;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #viewer-container {
    scale: 90%;
    position: absolute;
    align-items: center;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
