/*********** General ***********/

/***********Variable***********/
:root {
  --color1: #ede4d0;
  --color2: pink;
  --color3: #393b4b;
  --color4: rgb(18, 19, 19);
  --color5: #ffbd69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
/*********** Start of Header ***********/

header {
  width: 100%;
  padding: 1em;
  margin: 1em;
  background: rgba(0, 0, 0, 0.3);
  width: calc(100% - 50px);
  box-shadow: var(--color4);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.521);
  border-radius: 5px;
  border: 1px var(--color3) solid;
  backdrop-filter: blur(10px); /*arrière plan flou*/
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1100px;
  margin: 0 auto;
  color: rgb(226, 204, 204);
}
nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

nav li {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  padding: 20px 0;
}
nav li:first-child {
  color: var(--color5);
}
nav li:first-child:before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: var(--color5);
  transform: translateY(-20px);
}
nav li:hover:before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: var(--color5);
  transform: translateY(-20px);
}
nav li:last-child:before {
  background: none;
}

#language {
  background: rgba(128, 128, 128, 0.25);
  border-radius: 50px;
  padding: 8px 16px;
}

/*********** End of Header ***********/

body {
  background: url(./assets/galaxy-bg.jpg) fixed center/cover;
}

.main-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden; /*cache tout ce qui dépasse*/
}

.title {
  padding: 1em;
  margin: 0.25em;
  display: grid;
  grid-template-columns: 10% 90%;
  width: 100vw;
  align-items: center;
  text-align: center;
}

.body-text {
  padding: 45px 0;
  max-width: 1100px;
  font-size: 1.2rem;
  line-height: 34px;
  margin: 0 auto;
}

.card {
  background: rgba(0, 0, 0, 0.507);
  width: calc(100% - 50px); /*fait des calculs*/
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 20px 20px 6px;
  box-shadow: 0 0 0 black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.521);
  border-radius: 5px;
  backdrop-filter: blur(15px); /*arrière plan flou*/
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sb cont cont"
    "sb cont cont";
}

.sidebar {
  grid-area: sb;
  border: var(--color1) solid 1px;
  border-radius: 6px;
}

.container {
  grid-area: cont;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "i m"
    "i m";
}

.grid-container {
  grid-area: m;
  padding: 2em;
}

.menu {
  grid-area: i;
}

.card::before {
  content: "\2606"; /*on créee une étoile en haut à droite n° récupéré sur toptal*/
  position: absolute; /*libère l'elt, on le mets où on veut*/
  top: 14px;
  right: 20px;
  font-size: 1rem;
}

h1 {
  margin-bottom: 24px;
  position: relative;
}

h1::after {
  /*on mets une barre de séparation*/
  content: "";
  position: absolute;
  background: var(--color2);
  height: 1px;
  width: 100%;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  animation: h1anim 10s ease-in-out forwards; /*appel animation*/
  transform-origin: center;
}

@keyframes h1anim {
  /*rajout animation*/
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}

.polygon-container {
  filter: drop-shadow(
    -1px 3px 3px var(--color2)
  ); /*Create shawdow on particular elt -> polygone*/
  place-self: center left;
}

.polygon {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: linear-gradient(
    135deg,
    var(--color2) 0%,
    var(--color1) 100%
  ); /*creat gardient*/
  height: 80px;
  width: 80px;
}

.polygon:after {
  content: "IFC.JS";
  position: absolute;
  color: var(--color4);
  background: url(./assets/ifcjs_logo.png);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(344deg);
  width: 90px;
  padding: 4px;
  text-align: center;
}

.polygon img {
  position: absolute;
}

/******Texte*******/
p {
  line-height: 26px; /*create space through word texte*/
  margin: 20px 0;
  /*Pour illustrer suite lecture -> 'ligne suivante*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /*résum à partir de la 4ème ligne*/
  overflow: hidden; /*cache tout ce qui dépasse*/
  /*Texte justifié*/
  text-align: justify;
}

p::selection {
  /*couleur selection texte*/
  background: var(--color2);
  color: var(--color3);
}

/******Checkbox*****/

input[type="checkbox"] {
  display: none;
}

/********Animation vaisseau*********/
img {
  height: 40px;
  position: absolute;
  filter: drop-shadow(0px 6px 3px rgba(255, 255, 0, 0.6));
  z-index: -1;
  animation: spaceship 60s infinite linear;
}

@keyframes spaceship {
  0% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
  10% {
    top: 6%;
    left: 30%;
    transform: rotate(95deg);
  }
  20% {
    top: 9%;
    left: 60%;
    transform: rotate(60deg);
  }
  30% {
    top: 0%;
    left: 80%;
    transform: rotate(90deg);
  }
  40% {
    top: 20%;
    left: 120%;
    transform: rotate(110deg);
  }
  50% {
    top: 50%;
    left: 80%;
    transform: rotate(323deg);
  }
  60% {
    top: 90%;
    left: 90%;
    transform: rotate(246deg);
  }
  70% {
    top: 110%;
    left: 50%;
    transform: rotate(237deg);
  }
  80% {
    top: 85%;
    left: 30%;
    transform: rotate(323deg);
  }
  90% {
    top: 50%;
    left: 15%;
    transform: rotate(256deg);
  }
  100% {
    top: 2%;
    left: 2%;
    transform: rotate(90deg);
  }
}
